{% extends 'core/base.html' %}

{% block title %} Blog {% endblock %}

{% block content %}
    <div class="flex justify-between">
        <h1 class="mb-6 text-3xl inline">Blog - List</h1>
        <a href="{% url 'blog:post_new' %}" class="text-lg bg-teal-200 rounded-xl inline p-4 mb-4 hover:text-gray-500">New post</a>
    </div>

    <div class="space-y-6">
        {% for post in object_list %}
            <div class="bg-gray-200 p-4 font-lg mb-2">
                <h2 class=" text-semi-bold text-xl"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.body | truncatechars_html:10 }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
